<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d %level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.base}/logs/lodestar.jsonl</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>lodestar.jsonl.%i</fileNamePattern>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>32MB</maxFileSize>
    </triggeringPolicy>    
  </appender>
  
  <logger name="org.springframework" level="info" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <logger name="uk.ac.ebi.fgpt" level="info" additivity="false">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </logger>
  
  <logger name="gov.nih.nlm.lode" level="info" additivity="false">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </logger>
  
  <root level="error">
    <appender-ref ref="console"/>
  </root>
</configuration>