<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Terms</h4>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      {{#each terms}}
        <dt class="lk-label">{{label}}</dt>
        <dd class="lk-resource">{{resource}}</dd>
      {{/each}}
    </dl>
  </div>
</div>