<div>
    <span class="resource pull-right">{{ resource }}</span>
    <ul class="nav nav-tabs pull-left">
        <li role="presentation" class="active">
            <a id="qual-tab" href="#qual" role="tab" data-toggle="tab" aria-controls="qual" aria-expanded="true">
                Qualifiers
            </a>
        </li>
        <li role="presentation">
            <a id="seealso-tab" href="#seealso" role="tab" data-toggle="tab" aria-controls="seealso" aria-expanded="false">
                See also
            </a>
        </li>
        <li role="presentation>
            <a id="terms-tab" href="#terms" role="tab" data-toggle="tab" aria-controls="terms" aria-expanded="false">
                Terms
            </a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div id="#qual" class="tab-pane fade in active" role="tabpanel" aria-labelledby="qual-tab">
        Loading qualifiers...
    </div>
    <div id="#seealso" class="tab-pane fade" role="tabpanel" aria-labelledby="seealso-tab">
        Loading see also...
    </div>
    <div id="#terms" class="tab-pane fade" role="tabpanel" aria-labelledby="terms-tab">
        Loading terms...
    </div>
</div>