<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Terms</h4>
	</div>
	<div class="panel-body">
		{{#each terms}}
			<div>
				<span class="lk-label">{{label}}</span><span class="lk-resource">{{resource}}</span>
			</div>
		{{/each}}
	</div>
</div>