<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Qualifiers</h4>
	</div>
	<div class="panel-body">
    <dl class="dl-horizontal">
  		{{#each qualifiers}}
  		  <dt class="lk-label">{{label}}</dt>
  		  <dd class="lk-resource">{{resource}}</dd>
		  {{/each}}
		</dl>
	</div>
</div>
