<div>
    <div class="lk-results">
		{{#each result~}}
			<span class="lk-label">{{label}}</span>
			<span class="lk-resource">{{resource}}</span>
		{{~/each}}
	</div>
	<div class="details">
		<div id="seealso"/>
		<div id="terms"/>
    <div id="qual"/>
	</div>
</div>
