<div class="list-group">
  <ol>
    {{#each result~}}
        <li>
          <span class="lklbl">{{label}}</span>
          <span class="lkdat">{{resource}}</span>
        </li>
    {{~/each}}
  </ol>
</div>
