<!-- responsive design header using bootstrap css framework -->
<div class = "row-fluid pull-right top-nav">
  <div class = "container col-md-12 col-sm-12 col-xs-8">
   <a href = "http://id.nlm.nih.gov/">Linked Data Home</a></button>
   <a href = "http://id.nlm.nih.gov/mesh/sparql">SPARQL Endpoint</a></button>
   <a href = "http://apps.nlm.nih.gov/mainweb/siebel/nlm/index.cfm">Contact NLM</a></button>
  </div>
</div>
<div class = "row header">
<div class="container-fluid col-md-6 col-sm-6 col-xs-12">
   <a href="http://www.nlm.nih.gov"><img class= "nlm-logo img-responsive" alt="National Library of Medicine" src="images/nih_nlmlogo_webheader.png "></a>
</div>
</div>

