<div id="meshrdf-header">
  <h1>MeSH RDF Technical Documentation</h1></div>
<ul class="nav navbar-nav">
  <li><a href="https://id.nlm.nih.gov/mesh/">MeSH RDF Home</a></li>
  <li><a href="{{site.baseurl}}/index.html">Documentation Home</a></li>
  <li><a href="https://nlmpubs.nlm.nih.gov/projects/mesh/rdf/">Download</a></li>
  <li><a href="https://id.nlm.nih.gov/mesh/query">SPARQL Query</a></li>
  <li><a href="{{site.baseurl}}/sparql-and-uri-requests.html">API</a></li>
  {% for cat in site.category-list %}
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{cat}}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for page in site.pages %} {% if page.resource == true and page.archived != true %} {% for pc in page.categories %} {% if pc == cat %}
      <li><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %} {% endfor %} {% endif %} {% endfor %}
    </ul>
  </li>
  {% endfor %}
  <li><a href="{{site.baseurl}}/release-notes">Release Notes</a></li>
</ul>
