<div class = "btn-group-vertical navbar-btn" role = "group">
{% for cat in site.category-list %}
<div class = "btn-group" role = "group">
 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{cat}}<span class = "caret"/></button>    
  <ul class = "dropdown-menu" role = "menu">
   {% for page in site.pages %}
    {% if page.resource == true %}
     {% for pc in page.categories %}
      {% if pc == cat %}
      <li><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
     {% endfor %}
    {% endif %}  
   {% endfor %}
  </ul>
</div>
{% endfor %}
<button type="button" class="btn btn-default" role = "button"><a href = "http://id.nlm.nih.gov/">Linked Data Home</a></button>
<button type="button" class="btn btn-default"><a href = "http://id.nlm.nih.gov/mesh/sparql">SPARQL Endpoint</a></button>
<button type="button" class="btn btn-default"><a href = "http://apps.nlm.nih.gov/mainweb/siebel/nlm/index.cfm">Contact NLM</a></button>
</div>


