<form id="lodestar-sparql-form" class="ui-widget ui-corner-all"
      name='lodestar-sparql-form' action='#lodestart-sparql-results' method='GET'>
    <fieldset>
    	<legend>Enter SPARQL Query</legend>
    	<section class='lodestar-grid12 grid_12 alpha'>
    	</section>
    	<section id='example_queries' class='lodestar-grid12 grid_12 alpha'>
    	</section>"
    </fieldset>
</form>

