<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d %level [%thread] %logger{36} (%F:%L)- %msg%n</Pattern>     
    </layout>
  </appender>
  
  <logger name="org.springframework" level="info" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <logger name="uk.ac.ebi.fgpt" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  
  <logger name="gov.nih.nlm.lode" level="debug" additivity="false">
    <appender-ref ref="console"/>
  </logger>
  
  <root level="error">
    <appender-ref ref="console"/>
  </root>
</configuration>