<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
         version="2.5">
    <display-name>EBI - Linked Data Explorer</display-name>


    <description>
        SPARQL endpoint and Linked Data Browser
    </description>

    <!--Define configuration to load-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/ebi-lode-service.xml
        </param-value>
    </context-param>

    <!-- Make sure JSESSIONID is secure-only -->
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>

    <!--Define Servlets -->
    <servlet>
        <servlet-name>lode</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--Define servlet mappings -->
    <servlet-mapping>
        <servlet-name>lode</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>

    <!-- listener to load context at startup -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- enable cors -->
    <filter>
        <filter-name>cors</filter-name>
        <filter-class>uk.ac.ebi.fgpt.lode.servlet.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Do validation -->
    <filter>
        <filter-name>validation</filter-name>
        <filter-class>gov.nih.nlm.lode.servlet.ValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>validation</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!-- Tuckey URL rewrite filters -->
    <filter>
      <filter-name>UrlRewriteFilter</filter-name>
      <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
      <init-param>
        <param-name>logLevel</param-name>
        <!-- Can set to sysout:DEBUG to get information -->
        <param-value>INFO</param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name>UrlRewriteFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <resource-ref>
        <description>Virtuoso Datasource</description>
        <res-ref-name>jdbc/virtuoso</res-ref-name>
        <res-type>virtuoso.jdbc4.VirtuosoDataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- Test servlet for character issue (NLM specific) -->
    <!-- <servlet>
        <description>Debugs Label Encoding</description>
        <servlet-name>LabelsDiagnosticServlet</servlet-name>
        <servlet-class>gov.nih.nlm.lode.servlet.LabelsDiagnosticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LabelsDiagnosticServlet</servlet-name>
        <url-pattern>/labels</url-pattern>
    </servlet-mapping> -->

    <!-- health status monitoring -->

    <!-- Status check servlet (NLM specific) -->
    <servlet>
        <description>Status Servlet</description>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>gov.nih.nlm.lode.servlet.StatusServlet</servlet-class>
    </servlet>

    <!-- Point requests to /status to StatusServlet: E.S. need to know the URL (/status) and the response ("OK" if live) -->
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <!-- Health check filter, suppresses logging of health-check requests from load balancer -->
    <filter>
        <filter-name>HealthFilter</filter-name>
        <filter-class>uk.ac.ebi.fgpt.lode.servlet.health.HealthFilter</filter-class>
    </filter>

    <!-- FILTER MAPPINGS -->
    <filter-mapping>
        <filter-name>HealthFilter</filter-name>
        <url-pattern>/status</url-pattern>
    </filter-mapping>

    <!-- Prevent serving of internal content -->
    <security-constraint>
        <display-name>excluded</display-name>
        <web-resource-collection>
            <web-resource-name>No Access</web-resource-name>
            <url-pattern>/internal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>

    <!-- NOTE: setting a default error page requires servlet 3.0, therefore Tomcat 7+ -->
    <error-page>
        <location>/error.jsp</location>
    </error-page>

</web-app>
