<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon"
          type="image/ico"
          href="images/favicon.ico">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/1.0.2/js/dataTables.responsive.min.js"></script>
    <script type='text/javascript' src='js/mesh-gh-pages.js'></script>

    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link data-require="bootstrap-css" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css" rel="stylesheet" />
    <link href="styles/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type = 'text/javascript'>
    // there two classes of data tables.  data-table-standard (no paging) and data-table-long (includes paging)
    $(document).ready(function() {
        $( "#tabs" ).tabs();
        
         $('table.data-table-standard').dataTable( {
         "paging":   false,
         "ordering": true,
       // "searching": true,
         "bAutoWidth": true,
         "responsive": true,
        "bScrollX": "100%",
        "sScrollXInner": "110%"
          } );
         
       $('table.data-table-long').dataTable( {
        //"paging":   true,
        "ordering": true,
        "info":     false,
        //"searching": true,
        "bAutoWidth": true,
        "responsive": true,
        "bScrollX": "100%",
        "sScrollXInner": "110%"

          } );
      
      //default to 25 rows for longer tables
      $('table.data-table-long').dataTable().api().page.len(25).draw();
      
      //initialize Jquery tabs

      $('.dropdown-toggle').dropdown();
    });

    </script>
  </head>

<body>
<div class="container-fluid">
<!--header to hold banner + top navigation area -->
  {% include header-responsive.html %}
<!-- // end header -->
    <div class = "row">
          <div class = "container-fluid main-menu navbar navbar-default">
          {% include menu-responsive.html %} 
          </div>
    </div>
    <div class = "row">
        <div class = "container-fluid col-md-10 col-sm-10 col-xs-12">
             <h1>MeSH Linked Data (beta) Technical Documentation</h1>
        </div>
    </div>
    <div class = "row">
      <div class = "container-fluid col-md-10 col-sm-10 col-xs-10 main-content">
        <h2>{{page.title}}</h2>
        {{content}}
      </div>
    </div>
<!-- footer area   -->
<div class = "container-fluid footer">
  <div class = "span-10">
    {% include footer.html %}
  </div>
</div>
  <!-- //end footer -->
  
</div>
</body>
</html>
