<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon"
          type="image/ico"
          href="images/favicon.ico">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/1.0.2/js/dataTables.responsive.min.js"></script>
    <script type='text/javascript' src='{{site.baseurl}}/js/mesh-gh-pages.js'></script>

    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link data-require="bootstrap-css" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css" rel="stylesheet" />
    <link href="{{site.baseurl}}/styles/style.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type = 'text/javascript'>
    // there two classes of data tables.  data-table-standard (no paging) and data-table-long (includes paging)
    $(document).ready(function() {
        $( "#tabs" ).tabs();
        
         $('table.data-table-standard').dataTable( {
         "paging":   false,
         "ordering": true,
         "searching": true,
         "responsive": true,
         
          } );
         
       $('table.data-table-long').dataTable( {
         "paging":   true,
         "ordering": true,
         "info":     false,
         "searching": true,
         "responsive": true,
         "scrollX":true,
         "scrollY":"300",
         "pageLength":25

          } );
      

      $('.dropdown-toggle').dropdown();
    });

    </script>
  </head>
<body>
<div class="container-fluid">
<!--header to hold banner + top navigation area -->
  {% include header.html %}
<!-- // end header -->
<div class = "row">
    <div class = "container-fluid main-menu navbar navbar-default">
    {% include menu.html %} 
    </div>
</div>
<!-- breadcrumbs-->
      <ol class = "breadcrumb col-md-6 col-sm-6 col-xs-10">
        <li><a href = "{{site.baseurl}}/index.html">Documentation Home</a></li>
        <li class = "active">{{page.title}}</li>
      </ol>
<!-- //end breadcrumbs -->
<div class = "row">
      <div class = "container-fluid col-md-10 col-sm-10 col-xs-12">
          <h1>MeSH Linked Data (beta) Technical Documentation</h1>
      </div>
</div>
<div class = "row">
  <div class = "container-fluid col-md-10 col-sm-10 col-xs-10 main-content">
        <h2>{{page.title}}</h2>
        <select class = "form-control" onchange="location = this.options[this.selectedIndex].value;">
             {% for query in site.data.queries %}
             <option value = "#sample-query-{{forloop.index}}">{{ query.name }}</option>
             {% endfor %}
        </select>
        <br/>
        {% for query in site.data.queries %}
        <a name = "sample-query-{{forloop.index}}"/><h4 class = "inline-header">#{{forloop.index}}: {{ query.name }}</h4></a>
        <div class = "sample-queries {{ query.name | downcase | replace: ' ', '-' }}">
        {{query.string | xml_escape | newline_to_br }}
        <a role = "button" class = "btn btn-success" href = "{{query.string | cgi_escape | prepend: 'http://id.nlm.nih.gov/mesh/query?query=' | append: '&inference=true' }}" target = "_blank">Run This Query</a>
        </div>
        {% if forloop.index > 1 %}
        <a href = "#top">return to top</a>
        {% endif %}
        {% endfor %}
  </div>
</div>  
    <!-- will consider re-adding query types when they are easier  to categorize
    <p>Query types:
    <select class = "query-types" onchange="location = this.options[this.selectedIndex].value;">
    {% for type in site.query-types | sort_by   %}
    <option value = "#{{ type | downcase | replace: ' ','-' }} ">{{ type }}</option>
    {% endfor %}
    </select>
    </p>
    -->
<!-- footer -->
<div class = "row">
<div class = "container-fluid footer col-md-12 col-sm-12 col-xs-12">
    {% include footer.html %}
</div>
</div>
<!-- //end footer -->
 
</div> <!-- //end top level container-fluid -->
</body>
</html>
