<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link href="styles/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
  </head>

  <body>
<!--header to hold banner + top navigation area -->
  {% include header.html %}
<!-- // end header -->
    <div class="main-container">
      {% include menu.html %}
    <h1>MeSH RDF Technical Documentation (beta)</h1>
    <div class = "content">
    <img width="35" class="logo" alt="Medical Subject Headings" src="images/meshhead.gif" style = "float:right;margin-right:2px;margin-top:1px;position:relative;top:-2em;"/></a>
    <div class = "breadcrumbs">
    {% if page.resource == true %}
    <a href = "index.html">Documentation Home</a>&nbsp;&nbsp;&raquo;&nbsp;{{ page.title }}
    {% endif %}
    </div>
    <!--give users a way to return to the top of the page --><a name = "top"/>
    <h2>{{page.title}}</h2><br/>
    <select class = "sample-query-list" onchange="location = this.options[this.selectedIndex].value;">
    
    <!-- will consider re-adding query types when they are easier  to categorize
    <p>Query types:
    <select class = "query-types" onchange="location = this.options[this.selectedIndex].value;">
    {% for type in site.query-types | sort_by   %}
    <option value = "#{{ type | downcase | replace: ' ','-' }} ">{{ type }}</option>
    {% endfor %}
    </select>
    </p>
    -->
  
    {% for query in site.data.queries %}
    <option value = "#sample-query-{{forloop.index}}">{{ query.name }}</option>
    {% endfor %}
    </select>
    <br/>
      {% for query in site.data.queries %}
      <a name = "sample-query-{{forloop.index}}"/><h4 class = "inline-header">#{{forloop.index}}: {{ query.name }}</h4></a>
      <!-- keeping these out for now <p>{{ query.notes }}</p>-->
      <div class = "sample-queries {{ query.name | downcase | replace: ' ', '-' }}">
       {{query.string | xml_escape | newline_to_br }}
       <p><a href = "{{query.string | cgi_escape | prepend: 'http://id.nlm.nih.gov/mesh/sparql?query=' | append: '&inference=true' }}" target = "_blank">Run This Query</a></p>
      </div>
      {% if forloop.index > 1 %}
      <a href = "#top">return to top</a>
      {% endif %}
      {% endfor %}
      </div>
    </div>

<!-- footer area   -->
 {% include footer.html %}
 <!-- //end footer -->
  </body>
</html>