body {
  font-family: Tahoma, Calibri, sans-serif !important;
  background:url(../images/husk.png) repeat;
  font-size:1.5em;
}

.header {
   background-color:#134181; 
}

.main-menu, .footer {
    border:none;
    border-top: solid 2px #4F88D9;
    border-bottom:solid 2px #4F88D9;
    background-color:#001818;
    border-radius: 0 !important;
}

#archived-content {
  
  background-color: red;
  border-top:solid 2px white;
  border-bottom:solid 2px white;
  text-align: center;
  padding:.5em 0em 0em 0em;
}

#archived-content > p {
  
  color:white;
  font-size:1.4em;
}

.footer {
    color:white;
}

.btn:hover, .btn:active{
 background-color: #F06018;
 color:white;
 text-decoration: none;
}

.dropdown-menu li a:hover{
  
  color:#DE4319;

}

h1, h2, h3, h4 {
    
  color: #105981 !important;
  
}

h1 {
    
    text-align:left;
    margin-left: 1.0em;

}


.breadcrumb li {
  
  color:#FD5600 !important;
}


.main-content {
    
  box-shadow: -2px 0px 10px 1px #777;
  margin-left:3em;
  margin-top: .5em;
  padding: 1em 2em 2em 2em;
  background-color:white;
    
}

.jump, .jump a {
  
  color:#9b0000;
}


.ui-tabs .ui-tabs-nav li {
   font-size:small;
   width:auto;
   height:3em;
   padding:0em .5em 0em .5em;

}


.dataTables_scrollHeadInner, table.dataTable th, table.dataTable, .dataTables_wrapper {
/*width:inherit !important;*/

    
}

.sample-queries {
  margin-top:1em;
  margin-bottom:1em;
  padding: .5em;
  border:dashed 1px #ccc;
  background:url(../images/paper_fibers.png) repeat;
  
}

label input{

background-color:#FFEEAA;
border:solid 2px orange;
  
}


.footer { 
    margin-top:1em;
}