* {
  margin: 0;
  padding: 0;
}



body {
  font-family: Verdana, Geneva, sans-serif !important;
  
}

.navbar{ 

background-color:#1F4D7A !important;
padding:0;

}


.husk{
    
    background:url(../images/husk.png) repeat;
    padding:0em 2em 2em 2em;
}

h1, h2, h3, h4 {
  color: #105981 !important;
}

h1 {
    
    text-align:center;
}

.main-content {
    
  box-shadow: -2px 0px 10px 1px #777;
  margin-top:1em;
  padding:2em 1em 2em 2em;
  background-color:white;
    
}

.ui-tabs .ui-tabs-nav li {
   font-size:small;
   width:auto;
   height:3em;
   padding:0em .5em 0em .5em;

}

.data-table-standard, .data-table-long{
    
 font-size:.8em;   
}

.footer {
    
    margin-top:1em;
}