* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif !important;
  
}

.header {
   background-color:#1F4D7A; 
   border-bottom:2px double #300018;
}

.nlm-logo{ 

padding:.5em;


}

.main-menu {
    background-color: #80B0D1;
    border:none;
    border-top:3px double #FFEBB2;
   
}


.btn, .btn a{
 color: #1F4D7A;
 text-decoration: none;
}

.btn:hover {
    
    background-color:#FFDB73;
    box-shadow: -1px 0px 10px 1px #FFEBB2;
}


.dropdown-menu li a:hover{
background-color:#FFDB73;


}

.husk{
    
    background:url(../images/husk.png) repeat;
    padding:0em 2em 2em 2em;
}

h1, h2, h3, h4 {
  color: #105981 !important;
}

h1 {
    
    text-align:center;
}

.main-content {
    
  box-shadow: -2px 0px 10px 1px #777;
  margin-top: .5em;
  padding: 1em 1em 2em 2em;
  background-color:white;
    
}

.ui-tabs .ui-tabs-nav li {
   font-size:small;
   width:auto;
   height:3em;
   padding:0em .5em 0em .5em;

}

.data-table-standard, .data-table-long{
    
 font-size:.8em;   
}

.footer {
    
    margin-top:1em;
}